#canvas1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#canvas2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#canvas3{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#pause-btn{
    position: absolute;
    top: 10px;
    left: 400px;
    width: 50px;
    height: 50px;
    z-index: 3;
}

#pause-btn:hover{
    background-color: rgb(150, 80, 62);
}

#options {
    position: absolute;
    top: 30%;
    left: 36%;
    width: 300px;
    height: 150px;
    z-index: 4;
}

#options > div{
    width: 300px;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 30px;
    color: rgb(115, 115, 115);
    background-color: rgb(253, 207, 34);
    cursor: pointer;
    z-index: 5;
}

#options > div:hover{
    background-color: rgb(253, 165, 34);
}